/* @media screen and (max-height: 600px) {
  #gridDiv {
   height: 265px;
 }
}

@media screen and (max-height: 800px) and (min-height: 601px) {
 #gridDiv {
   height: 465px;
 }
}

@media screen and (max-height: 1020px) and (min-height: 801px) {
 #gridDiv {
   height: 665px;
 }
}

@media screen and (max-height: 1200px) and (min-height: 1021px) {
  #gridDiv {
    height: 865px;
  }
} */
