<form action="POST" (submit)="onFormSubmit()">
    <div class="login-header">
        <div class="title">{{ title }}</div>
        <div>Password Reset</div>
    </div>
    <dx-form id="passwordResetForm" [(formData)]="data">
        <dxi-item dataField="email">
            <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
            <dxi-validation-rule type="email" message="Email is invalid"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="password" [editorOptions]="{ mode: 'password' }">
            <dxi-validation-rule
                type="required"
                message="Password is required"
            ></dxi-validation-rule>
        </dxi-item>
        <dxi-item
            dataField="passwordConfirm"
            editorType="dxTextBox"
            [editorOptions]="{ mode: 'password' }"
        >
            <dxi-validation-rule
                type="required"
                message="Password confirm is required"
            ></dxi-validation-rule>
            <dxi-validation-rule
                type="compare"
                [comparisonTarget]="passwordComparison"
                message="Passwords do not match"
            ></dxi-validation-rule>
        </dxi-item>
        <dxi-item
            itemType="button"
            horizontalAlignment="center"
            [buttonOptions]="buttonOptions"
        ></dxi-item>
    </dx-form>
</form>
