:host ::ng-deep #title {
    color: #444;
    font-size: 21px;
    font-weight: 400;
}

:host ::ng-deep #multi_delete {
    top: 20px;
    margin-left: 7px;
}

:host ::ng-deep #btn_clear {
    top: 20px;
    margin-left: 7px;
    border-radius: 20px;
}

@media screen and (max-height: 600px) {
    #contactsContainer {
        height: 350px;
    }
}

@media screen and (max-height: 800px) and (min-height: 601px) {
    #contactsContainer {
        height: 550px;
    }
}

@media screen and (max-height: 1020px) and (min-height: 801px) {
    #contactsContainer {
        height: 750px;
    }
}

@media screen and (max-height: 1200px) and (min-height: 1021px) {
    #contactsContainer {
        height: 950px;
    }
}
