<form action="POST" (submit)="onFormSubmit()">
    <div class="login-header">
        <div class="title">{{ title }}</div>
        <div>Forgot Password</div>
    </div>
    <dx-form id="passwordResetEmailForm" [(formData)]="data">
        <dxi-item dataField="email">
            <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
            <dxi-validation-rule type="email" message="Email is invalid"></dxi-validation-rule>
        </dxi-item>
        <dxi-item
            itemType="button"
            horizontalAlignment="center"
            [buttonOptions]="buttonOptions"
        ></dxi-item>
    </dx-form>
    <a routerLink="/login">Login</a>
</form>
